<div class="cards">
  <% @items.each do |item| %>
    <div class="card-product">
      <%= cl_image_tag item.photo.key, height: 300, width: 400, crop: :fill if item.photo.attached? %>
      <div class="card-product-infos">
        <h3><%= "Name: #{item.name.capitalize}" %></h3>
        <p><%= "Price: $#{item.price},00" %></p>
        <p><%= "Description #{item.description.capitalize}" %></p>
        <%= link_to 'Edit', edit_item_path(item)%> |
        <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }%> |
        <%= link_to 'Order', item_orders_path(item), method: :post %>
      </div>
    </div>
  <% end %>
</div>
